<ng-sidebar-container>
    <ng-sidebar [opened]="opened">
        <p> Cotnent will go here</p>
        <i class="fas fa-plus fa-2x" (click)="toggleSidebar()"></i>
    </ng-sidebar>
    <div ng-sidebar-content>
 
        <i class="fas fa-plus fa-2x" (click)="toggleSidebar()"></i>



    </div>
</ng-sidebar-container>

<div class="jumbotron vertical-center" *ngFor="let info of information">
    <div class="container text-center" id="landing">
        <img src="/assets/images/me.jpg" class="logo-image">
        <h1>{{info.name}}</h1><br>
        <h2>{{info.title}}</h2>
        <p>{{info.about}}</p>
    </div>
</div>