.section{
  margin-top: 5%;
  color: rgb(42, 89, 120);
  border-style: none;
  border-color: white;
  
}


#aboutme{
  color: rgb(42, 89, 120);
 
}


ul{
  margin: 0;
  padding: 0;
  
}
li{
  display: inline-block;
  margin: 6px;
  list-style: none;
 
}
li a{
  color:  rgb(42, 89, 120);
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.container{
  
}