.jumbotron{
  width: 100%;
  background-color: rgb(42, 89, 120);
  color: white;
  margin-top: 10%;
}

.container .card-group .card{
  background-color: rgb(42, 89, 120);
  color: white;
  text-align: center;
  margin-right: 10px;
}



