<div class="container">
  <div class="row">
    <div class="jumbotron " *ngFor="let info of about">
      <h1 class="display-4">{{info.name}}</h1>
      <p class="lead">{{info.intro}}</p>
      <hr class="my-4">
  
      <p>{{info.description}}</p>
    </div>

  </div>

  <div class="row">
    <div class="card-group">
      <div class="card" *ngFor="let info of cardInfo">
        <div class="card-body">
          <h5 class="card-title">{{info.name}}</h5>
          <a [routerLink]="[info.pageNav]">

          <lottie-player slot="end" autoplay loop src={{info.urlLottie}}  style=" height: 200px;" speed="1" loop> </lottie-player>
        </a>
        </div>
      </div>
    </div>

  </div>
  
</div>





