/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 5%;
    background-color: white;
    font-family: 'Century Gothic',sans-serif;
    height:100%;
    }