<footer class="page-footer font-small">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">James Brannigan </h5>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">


                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link" routerLink="">Home </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/about">About </a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/work-experience">Work Experience</a>
                    <li>
                        <a class="nav-link" routerLink="/college-experience">College Experience</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/portfolio">Portfolio</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>