<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
           
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">

                        <li><a class="nav-link" routerLink=""> <i class="fa fa-angle-double-right"> </i> Home</a> </li>
                        <li><a class="nav-link" routerLink="/about"> <i class="fa fa-angle-double-right"> </i> About</a> </li>
                        <li><a class="nav-link" routerLink="/college-experience"> <i class="fa fa-angle-double-right"> </i> College Experience</a> </li>
                        <li><a class="nav-link" routerLink="/work-experience"> <i class="fa fa-angle-double-right"> </i> Work Experience</a> </li>
                        <li><a class="nav-link" routerLink="/portfolio"> <i class="fa fa-angle-double-right"> </i> Portfolio</a> </li>
                        <li><a class="nav-link" routerLink="/contact"> <i class="fa fa-angle-double-right"> </i> Contact</a> </li>

                </ul>
            </div> 
        </div>
    </div>
</section>

