<div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h1 class="logo-text"> <span>James</span>Brannigan</h1>
            <p>This is my personal site that highlights my college experience and professional experience.</p>

            <div class="contact">
                <span> <i class="fas fa-phone"></i> &nbsp; 0876218446 </span>
                <span> <i class="fas fa-envelope"></i> &nbsp; jamesbrannigan89@gmail.com </span>
            </div>

            <div class="socials">
                <a href="#"> <i class="fab fa-linkedin"></i> </a>
                <a href="#"> <i class="fab fa-github"></i> </a>
            </div>
        </div>



        <div class="footer-section links">
            <h2>Quick Links</h2>
            <br>
            <ul>
                <a href=""> <li>Home</li> </a>
                <a href=""> <li>About</li> </a>
                <a href=""> <li>College Experience</li> </a>
                <a href=""> <li>Work Experience</li> </a>
                <a href=""> <li>Portfolio</li> </a>
            </ul>

        </div>
        <div class="footer-section contact-form">
            <h2> Contact Me</h2>
            <br>
            <form action="index.html" method="POST">
                <input type="email" name="email" class="text-input contact-input" placeholder="Your Email address">
                <br>
                <textarea name="message" class="text-input contact-input" placeholder="Your Message"></textarea>
                <button type="submit" class="btn btn-big contact-btn"> <i class="fas fa-envelope"> </i>  Send</button>
            </form>

        </div>
    </div>






    <div class="footer-bottom">
        <p>James Brannigan </p>

    </div>
</div>