h4{
color:white;
}

img{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#card{
  background-color:white;
  border-style: none;
  border-color: white;
  margin: 10px 50px 20px;
  padding: 1em; 
  margin-top: 5%;

}
#card .row .col .card .card-body{
 color: white;
  background-color:rgb(42, 89, 120);
  
}

