<div class="section" id="projects">
        <div class="container cc-education" >
                <div class="h4 text-center mb-4 title">Projects</div>
        </div>
</div>



<div id="card">
        <div class="row card-group">
            <div class="col col-lg-3 col-md-8" *ngFor="let info of projects">
              <div class="card h-100 text-center">
                <lottie-player slot="end" autoplay loop src={{info.urlLottie}}  style=" height: 200px;" speed="1" loop  >
                </lottie-player>
                <div class="card-body">
                  <h4 class="card-title">{{info.name}}</h4>
                  <h6 class="card-subtitle mb-2"> {{info.technology}}</h6>
                  <a href="{{info.pageUrl}}" class="btn btn-primary" target="blank"> Project</a>
                </div>
              </div>
            </div>
          </div>
    </div>

   