<div class="section" id="projects">
        <div class="container cc-education" >
                <div class="h4 text-center mb-4 title">Projects</div>
        </div>
</div>



<div id="card">
        <div class="row card-group">
            <div class="col col-lg-3 col-md-8" *ngFor="let info of projects">
              <div class="card h-100 text-center">
                <img class="card-img-top" src={{info.imageUrl}} alt="image not available">
                <div class="card-body">
                  <h4 class="card-title">{{info.name}}</h4>
                  <h6 class="card-subtitle mb-2 text-muted"> {{info.technology}}</h6>
                  <a href="{{info.pageUrl}}" class="btn btn-primary" target="blank">See Project</a>
                </div>
              </div>
            </div>
          </div>
    </div>