<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="card">
            <div class="row" *ngFor="let work of company">
                <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <img src={{work.backGroundImage}}> 
                    <div class="card-body cc-education-header">

                        <p>{{work.title}}</p>
                        <div class="h5">{{work.company}} <br> {{work.date}}</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">{{work.role}}</div>

                        <ul>
                            <li> {{work.task1}}</li>
                            <li> {{work.task2}}</li>
                            <li> {{work.task3}}</li>
                            <li> {{work.task4}}</li>
                            <li> {{work.task5}}</li>
                            <li> {{work.task6}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


